<!DOCTYPE html>
<html>
  <head>
    <title>Brikd</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <%# This flashes a message. Example listed on articles_controller.rb%>
    <%= flash.each do |name, msg| %>
    <ul>
      <li><%= msg %></li>
    </ul>
    <% end %>
  <%= yield %>
  </body>
</html>
